.txt-lbl-name{
    text-align: left;
    font: normal normal normal 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    color: #B2B2B2;
    text-transform: uppercase;
    opacity: 1;
}

.custom-form-control .with-icon .icon {
    top: 55%!important;
    transform: translateY(1%)!important;
}

.pwd-container .custom-tooltip { 
    top: 70%;     
    left: 8.5rem; 
}

.otp-boxes-login input {
    font-size: 32px;
    padding: 1.125rem 0.75rem;
    text-align: center;
    font-weight: 500;
    height: 72px;
}