<div *ngIf="fieldData?.invalid && fieldData?.touched" class="helper">

    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['required']">{{name}} is required .</div>

    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['minLength']">{{name}} should be 10 digits.</div>
    

    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['email']">You have entered an invalid email address .</div>

    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['pattern']">{{name}} is invalid .</div>

    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['mustMatch']">Password and confirm password must be match.</div>

    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['contactNumberPattern']">Enter valid mobile number .</div>

    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['contactNumberLength']">Mobile number should be 10 digits.</div>
    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['emailAlreadyExist']">Email address alredy exists.</div>
    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['mobileAlreadyExist']">Mobile number already exists.</div>
    <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['invalidCredentials']">Credentials not verified</div>
    
    <!-- <div class="text" style="color:#ff3100" *ngIf="fieldData?.errors?.['passwordStrength']">{{name}} must contain more than 8 characters, 1 upper case letter, 1 lower case letter, 1 number, and 1
        special character</div> -->

</div>